
*{margin: 0; padding: 0;}
*{box-sizing: border-box}
#displayCode{
	height: 100vh;
	overflow: auto;
}
.token.selector{
	color: gray;
}

.token.property{
	color: gray;
}

.token.function{
	color: gray;
}

.markdownBody{
	padding: 21px;
}

.markdownBody > ul,ol{
	margin-left: 35px;
}
.markdownBody > h2{
	margin: 12px 0 7px 0;
}

@keyframes breath{
	0%{
		box-shadow: 0 0 7px rgba(0,0,0,0.05);
	}
	100%{
		box-shadow: 0 0 7px rgba(0,0,0,0.35);
	}
}