
*{margin: 0; padding: 0;}
*{box-sizing: border-box}
#displayCode{
	height: 100vh;
	overflow: hidden;
}
.token.selector{
	color: gray;
}

.token.property{
	color: gray;
}

.token.function{
	color: gray;
}

@keyframes breath{
	0%{
		box-shadow: 0 0 7px rgba(0,0,0,0.05);
	}
	100%{
		box-shadow: 0 0 7px rgba(0,0,0,0.35);
	}
}